* {
    margin:0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(73, 72, 62);
    font-size: 20px;
}

.main textarea {
    background-color: rgb(73, 72, 62);
    font-size: 20px;
    color: whitesmoke;
    width: 100%;
    height: auto;
}
