* {
    margin:0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    font-size: 20px;
}

.code {
    font-size: 20px;
    color: #323232;
    width: 100%;
    height: auto;
    border: 1px solid #323232;
}
